{% extends 'base.html' %}


{% block content %}
<div class="container">

   <ul>
       <li>
           <h4>I do not wish to use the web-service. What do I do?</h4>
           <p>
               Statiki provides a utility script to let you do yourself,
               what Statiki does for you.

               <a href="https://github.com/punchagan/statiki/blob/master/utils/setup_travis_builder.py" target="_blank">Download the script</a>,
               install the requirements, and run!
           </p>
       </li>

       <li>
           <h4>How do I use a static site generator other than Nikola? </h4>
           <p>
               Start with the manual steps described above, and then modify the
               <code>.travis.yml</code> and <code>travis_build_n_deploy.sh</code>
               to suit your needs.

           </p>

           <p>
               In future, statiki may allow users to choose a static site generator
               to use.  You are more than welcome to contribute this feature!

           </p>
       </li>

       <li>
           <h4>I setup my demo site. How do I make a new post?</h4>
           <p>
               Statiki has setup a <a href="https://getnikola.com/" target="_blank">Nikola</a>
               based site for you.
           </p>

           <p>
               Statiki creates a demo Nikola site for you.  You can just copy and/or
               modify the demo pages and posts created for you.
           </p>

           <p>For more information, see <a href="http://getnikola.com/handbook.html#creating-a-blog-post" target="_blank">Nikola handbook</a></p>

       </li>

       <li>
           <h4>RSS feeds or Galleries don't work properly</h4>
           <p>
               Yes, Statiki uses a stable version of Nikola, and these are known issues.
           </p>
       </li>

       <li>
           <h4>How do I prevent a change from getting published?</h4>
           <p>
               You can <a href="http://docs.travis-ci.com/user/how-to-skip-a-build/" target="_blank">ask Travis CI to skip</a>
               building a specific commit by adding <code>[skip ci]</code> or <code>[ci skip]</code> in your commit message.
           </p>
       </li>

       <li>
           <h4>I wish to use a custom domain for my site. How?</h4>
           <p>
               You can ask GitHub to serve from your domain by simply adding a
               <code>CNAME</code> file with the name of your domain to the
               <code>files/</code> directory of your repository.

               For more information, see <a href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages" target="_blank">here</a>.
           </p>
       </li>

       <li>
           <h4>How do I stop Travis CI from spamming me?</h4>
           <p>
               The default setting is to email on failures, or a change to success.
               I think this is a reasonable setting, and recommend leaving it as is.
               See <a href="http://docs.travis-ci.com/user/notifications/" target="_blank">here</a>
               if you wish to completely disable emails or tweak related settings.
           </p>
       </li>


   </ul>

</div>

{% endblock %}
