{% extends 'base.html' %}

{% block content %}

<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
      <h1>{{SITE}}</h1>
      <p class="lead">{{DESCRIPTION}}</p>
      {% if user.is_anonymous() %}
      <p class="lead">
          <a href="{{ url_for('login') }}" class="btn btn-outline-inverse btn-lg">Get Started</a>
      </p>
      {% else %}

      <div id="repo-form">
          <p class="version">Choose a URL for your site, and hit Go</p>
          <p class="version">Leave the text-box blank, for a site at http://{{user.username}}.github.io/</p>
          <form id="submit-repo" action="" role="form" class="form-horizontal">
              <div class="form-group">
                  <div class="input-group input-group-lg col-sm-6 col-sm-offset-3">
                      <span class="input-group-addon">http://{{user.username}}.github.io/</span>
                      <input type="text" class="form-control" name="repo_name" placeholder="statiki">
                  </div>
              </div>
              <button type="submit" class="btn btn-outline-inverse btn-lg">Go!</button>
          </form>
      </div>
      {% endif %}
      <div id="status" class="flashes" style="color: #fffff;">
          {% set flashes = get_flashed_messages() %}
          {% if flashes %}
          {% for message in flashes %}
          <p>{{ message }}</p>
          {% endfor %}
          {% endif %}
      </div>
  </div>
</main>


<script src="/static/js/custom.js"></script>

<div class="bs-docs-featurette">
    <div class="container">
        <h2 class="bs-docs-featurette-title">Create static websites or blogs, with ease!</h2>
        <p class="lead">Statiki leverages free and open services and software like GitHub, TravisCI and Nikola.</p>
        <hr class="half-rule">
        <h2 class="bs-docs-featurette-title">Get Started</h2>

        <hr class="half-rule">

        {% for STEP in TUTORIAL_STEPS %}
        <div class="row step">
            <div class="col-sm-4 col-sm-offset-4">
                <h3>{{STEP['title']|safe}}</h3>
                {{STEP['description']|safe}}
            </div>
        </div>

        {% if not loop.last %}
        <i class="fa fa-arrow-down"></i>
        {% endif %}

        {% endfor %}

        <hr class="half-rule">

        <p>
            <a class="btn btn-outline btn-lg" href="{{ url_for('login') }}" class="pure-button">
                Get Started
            </a>
        </p>

    </div>

</div>

{% endblock %}

