{% extends 'base.html' %}

{% block content %}
This site is a work in progress, though some stuff works.
See the <a href="{{ url_for('show_readme') }}" class="pure-button">README</a>
{% endblock %}

{% block content_wrapper %}
<div class="splash-container">
    <div id="status" class="flashes" style="color: #fffff;">
        {% set flashes = get_flashed_messages() %}
        {% if flashes %}
        {% for message in flashes %}
        <div class="pure-u-1-2">
            <p style="color: #fffff;">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="splash">
        <h1 class="splash-head">{{SITE}}</h1>
        {% if user.is_anonymous() %}
        <p class="splash-subhead">{{DESCRIPTION}} </p>
        <p>
            <a href="{{ url_for('login') }}" class="pure-button pure-button-primary">Get Started</a>
        </p>
        {% else %}
        <div>
            <form id="submit-repo" class="pure-form" action="">
                <fieldset>
                    <legend>Site to create and/or manage</legend>
                    <div class="pure-u">
                        <label for="repo_name">https://{{user.username}}.github.io/</label>
                        <input type="text" name="repo_name" placeholder="statiki" required>
                    </div>
                    <button type="submit" class="pure-button pure-button-primary">Go!</button>
                </fieldset>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="content-wrapper">
    {{ super() }}
</div>

<script src="/static/js/custom.js"></script>

{% endblock %}
