{% extends 'base.html' %}

{% block content %}



<div class="tutorial">

    <div class="tutorial-intro">
        <h1>Statiki is simple way to create and/or manage a website or blog.</h1>
        <h2>Statiki leverages free and open services and software like GitHub, TravisCI and Nikola.<h2>
    </div>

    <div class="tutorial-heading">How do I get started?</div>

    <div class="step">
        <span>Create an account on <a href="https://github.com/join" target="_blank">GitHub</a> </span>
        <p>
            If you already have one, login.  Statiki will uses GitHub OAuth to authenticate.
        </p>
    </div>

    <i class="fa fa-arrow-down"></i>

    <div class="step">
        <span>Create an account on <a href="https://travis-ci.org/profile" target="_blank">TravisCI</a> </span>
        <p>
            TravisCI also uses GitHub OAuth.  Once you create your account, wait for Travis to sync
            your repositories from GitHub
        </p>
    </div>

    <i class="fa fa-arrow-down"></i>

    <div class="step">
        <span>Create an account on <a href="{{ url_for('login') }}" target="_blank">Statiki</a></span>
        <p>
            Statiki uses GitHub OAuth.  Statiki only uses your authentication to manage the repositories
            you specify.  Once Statiki sets up your repository, with the required files, and the hook
            on TravisCI, you can even revoke access to Statiki.
        </p>
    </div>

    <i class="fa fa-arrow-down"></i>

    <div class="step">
        <span>Choose a URL for your site and hit Go!</span>
        <p>
            Currently, only urls of the type <code>http://&lt;your-username&gt;.github.io/&lt;choosen-name&gt;</code>
            are supported by Statiki. In future Statiki, will be able to let you use just <code>http://&lt;your-username&gt;.github.io/&gt;</code>
            RSS feeds/Galleries may not work correctly, due to an issue in Nikola.
        </p>
    </div>

    <i class="fa fa-arrow-down"></i>

    <div class="step">
        <span>Profit!</span>
        <p> Your site should be ready in a few minutes. </p>

        <p>
            You'll get a notifiation email from GitHub!
            (Actual time depends on the availability of TravisCI and how long
            GitHub takes to deploy your pages.)
            You can edit your site either using GitHub's web editor, or
            edit locally using your favorite editor and pushing changes to
            your git repository!
        </p>
    </div>

    <p>
        <a href="{{ url_for('login') }}" class="pure-button">Get Started</a>
    </p>

    <span class="pure-u">
        Report any issues to <a href="twitter.com/punchagan">@punchagan</a> on
        <a href="github.com/punchagan/statiki/issues">GitHub</a>.
    </span>

</div>

{% endblock %}

{% block content_wrapper %}
<div class="splash-container">
    <div id="status" class="flashes" style="color: #fffff;">
        {% set flashes = get_flashed_messages() %}
        {% if flashes %}
        {% for message in flashes %}
        <div class="pure-u-1-2">
            <p style="color: #fffff;">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="splash">
        <h1 class="splash-head">{{SITE}}</h1>
        {% if user.is_anonymous() %}
        <p class="splash-subhead">{{DESCRIPTION}} </p>
        <p>
            <a href="{{ url_for('login') }}" class="pure-button pure-button-primary">Get Started</a>
        </p>
        {% else %}
        <div>
            <form id="submit-repo" class="pure-form" action="">
                <fieldset>
                    <legend>Site to create and/or manage</legend>
                    <div class="pure-u">
                        <label for="repo_name">http://{{user.username}}.github.io/</label>
                        <input type="text" name="repo_name" placeholder="statiki" required>
                    </div>
                    <button type="submit" class="pure-button pure-button-primary">Go!</button>
                </fieldset>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="content-wrapper">
    {{ super() }}
</div>

<script src="/static/js/custom.js"></script>

{% endblock %}
