<!doctype html>
<html>
<body style="width: 50%;margin: auto;">
<title>GitHub Login</title>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<div class="login" style="margin-left: 45%;top: 0px;position: absolute;">
{% if user.is_anonymous() %}
   <a href ="{{ url_for('login') }}">Login with GitHub</a>
{% else %}
  <p>Welcome, {{ user.username }}</p>
  <a href ="{{ url_for('logout') }}">Logout</a>
{% endif %}
</div>
{% if not user.is_anonymous() %}
  <div>
      <p>Enter the name of the repository you would like to manage.</p>
      <form action="/manage" method="get">
          Repository: <input type="text" name="repo" placeholder="punchagan/statiki"><br>
          <input type="submit" value="Submit">
      </form>
  </div>
{% endif %}
<h2>README</h2>
{% include 'readme.html' %}
</body>
</html>
